{% load i18n %}
<div class="dropdown">
    <button class="btn btn-outline-light dropdown-toggle btn-sm" type="button" id="languageDropdown" 
            data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-globe me-1"></i>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == 'fr' %}🇫🇷 Français{% else %}🇬🇧 English{% endif %}
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
        <li>
            <form action="{% url 'set_language' %}" method="post" class="d-inline">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path }}">
                <input name="language" type="hidden" value="fr">
                <button type="submit" class="dropdown-item {% if LANGUAGE_CODE == 'fr' %}active{% endif %}">
                    🇫🇷 Français
                </button>
            </form>
        </li>
        <li>
            <form action="{% url 'set_language' %}" method="post" class="d-inline">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path }}">
                <input name="language" type="hidden" value="en">
                <button type="submit" class="dropdown-item {% if LANGUAGE_CODE == 'en' %}active{% endif %}">
                    🇬🇧 English
                </button>
            </form>
        </li>
    </ul>
</div>